/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  padding: 0;
  margin: 0;
  margin-top: 1.5em;
}
li {
  list-style-type: none;
  padding: 1em;
  border-radius: 10px;
  background-color: var(--color-neutral-grey);
  cursor: pointer;
}
li > a {
  display: block;
  font-weight: 600;
  text-decoration: none;
  color: inherit;
}
li:hover {
  color: var(--color-neutral-dark-grey);
  background-color: var(--color-primary-green);
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

:root {
  --color-primary-green: hsl(75, 94%, 57%);
  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-grey: hsl(0, 0%, 20%);
  --color-neutral-dark-grey: hsl(0, 0%, 12%);
  --color-neutral-off-black: hsl(0, 0%, 8%);

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 14px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-neutral-off-black);
  color: var(--color-neutral-white);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  max-width: 320px;
  padding: 1.5em;
  margin: 0 1.5em 1em 1.5em;
  border-radius: 15px;
  background-color: var(--color-neutral-dark-grey);
  text-align: center;
}

main > header {
  border-radius: 50%;
  max-width: 35%;
  overflow: hidden;
}
main > header > img {
  width: 100%;
  object-fit: cover;
  scale: 125%;
}

main > section {
  min-width: 100%;
}
main > section > h1 {
  font-size: 1.5rem;
  font-weight: 700;
}
main > section > h2 {
  font-size: 0.95rem;
  font-weight: 600;
  color: var(--color-primary-green);
}
